node_modules
Dist/Mac/Project/Game.app/Contents/Resources/app.nw/audio
Dist/Mac/Project/Game.app/Contents/Resources/app.nw/fonts
Dist/Mac/Project/Game.app/Contents/Resources/app.nw/img
Dist/Mac/Project/Game.app/Contents/Resources/app.nw/js
Dist/Mac/Project/Game.app/Contents/Resources/app.nw/data
Dist/Mac/Project/Game.app/Contents/Resources/app.nw/icon
Dist/Mac/Project/Game.app/Contents/Resources/app.nw/index.html
Dist/Win/Project/www/audio
Dist/Win/Project/www/fonts
Dist/Win/Project/www/img
Dist/Win/Project/www/js
Dist/Win/Project/www/data
Dist/Win/Project/www/icon
Dist/Win/Project/www/index.html
Dist/Mobile/Project/www/audio
Dist/Mobile/Project/www/fonts
Dist/Mobile/Project/www/img
Dist/Mobile/Project/www/js
Dist/Mobile/Project/www/data
Dist/Mobile/Project/www/icon
Dist/Mobile/Project/www/index.html
Dist/Resource/*


